services:
  app:
    environment:
      - COMPOSE_PROJECT_NAME=${USER:-user}
    build:
      context: .
      args:
        USER_ID: ${UID}
        GROUP_ID: ${GID}
        USER: ${USER:-user}

    image: mlenv-app:${USER:-user}
    container_name: mlenv-app-${USER:-user}
    user: ${USER:-user}
    hostname: docker
    shm_size: 16gb
    command: tail -f /dev/null
    volumes:
      - type: bind
        source: /data
        target: /data
      - type: bind
        source: ./dev
        target: /home/${USER:-user}/dev

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

volumes:
  data:
  dev:
